*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: sans-serif;
}

body{
  color: white;
}

.app{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title{
  display: flex;
  padding: 20px;
  align-items: center;

  &__line{
    width: 46px;
    height: 6px;
    background-color: white;

    @media screen and (max-width: 650px) {
      width: 30px;
      height: 4px;
    }
  }

  &__paragraph{
    margin: 0 16px;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;

    @media screen and (max-width: 650px) {
      font-size: 1.5rem;
    }
  }
}

.info{
  padding: 30px 20px;

  &__paragraph{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &--primary{
      font-size: 8rem;

      @media screen and (max-width: 650px) {
        font-size: 5rem;
      }

      @media screen and (max-width: 384px) {
        font-size: 4.2rem;
      }
    }

    &--secondary{
      font-size: 6.8rem;
      border-bottom: 12px solid white;

      @media screen and (max-width: 650px) {
        font-size: 3.8rem;
        border-bottom-width: 8px;
      }

      @media screen and (max-width: 384px) {
        font-size: 3rem;
        border-bottom-width: 6px;
      }
    }
  }
}

.social-media{
  display: flex;
  padding: 30px 0;
  width: 20%;
  min-width: 370px;
  justify-content: space-evenly;

  @media screen and (max-width: 384px) {
    width: 90%;
    min-width: unset;
  }

  &__link{
    display: block;
    padding: 16px 17px;
    text-align: center;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 50%;

    @media screen and (max-width: 650px) {
      padding: 10px 11px;
    }

    &__icon{
      width: 40px;
      line-height: 4.2rem;
      font-size: 3.8rem;
      color: white;

      @media screen and (max-width: 650px) {
        width: 32px;
        line-height: 3.4rem;
        font-size: 3rem;
      }

      @media screen and (max-width: 384px) {
        width: 28px;
        line-height: 3rem;
        font-size: 2.6rem;
      }
    }
  }
}